<html>
  
<body>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="sankey_multiple" style="width: 900px; height: 400px;"></div>

<script type="text/javascript">
  google.charts.load("current", {packages:["sankey"]});
  google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'From');
    data.addColumn('string', 'To');
    data.addColumn('number', 'Total Sold'); 
    data.addRows([
    ['Adidas','2015',408],
    ['Adidas','2016',9172],
    ['Adidas','2017',189405],
    ['Adidas','2018',154176],
    ['Nike','2015',3560],
    ['Nike','2016',15334],
    ['Nike','2017',47860],
    ['Nike','2018',367275],
    ['2015','Yeezy Boost',408],
    ['2016','Boost',3247],
    ['2016','NMD',1962],
    ['2016','Yeezy Boost',3963],
    ['2017','Boost',16787],
    ['2017','NMD',13029],
    ['2017','Other',2872],
    ['2017','Pharrell',9732],
    ['2017','Yeezy Boost',105768],
    ['2017','Yeezy Other',41217],
    ['2018','Boost',15233],
    ['2018','Hype',4035],
    ['2018','NMD',12117],
    ['2018','Other',1356],
    ['2018','Pharrell',11358],
    ['2018','Yung 1',3148],
    ['2018','Yeezy Boost',35599],
    ['2018','Yeezy Other',71330],
    ['Yeezy Boost','Very Profitable',3963],
    ['Yeezy Boost','Very Profitable',408],
    ['Hype','Very Profitable',4035],
    ['Yeezy Boost','Very Profitable',105768],
    ['Yeezy Other','Profitable',41217],
    ['Yeezy Other','Profitable',71330],
    ['NMD','Profitable',1962],
    ['Pharrell','Profitable',11358],
    ['Yeezy Boost','Profitable',35599],
    ['Pharrell','Profitable',9732],
    ['Boost','Profitable',3247],
    ['Yung 1','Worthless',3148],
    ['NMD','Worthless',13029],
    ['NMD','Worthless',12117],
    ['Other','Worthless',2872],
    ['Boost','Worthless',15233],
    ['Boost','Worthless',16787],
    ['Other','Worthless',1356],
    ['2015','Jordan X+',3560],
    ['2016','Air Force',1186],
    ['2016','Jordan I',2964],
    ['2016','Jordan III-IX',2517],
    ['2016','Jordan X+',8667],
    ['2017','Air Force',1016],
    ['2017','Air Max',1977],
    ['2017','Baller',1340],
    ['2017','Blazer',1791],
    ['2017','Jordan I',11205],
    ['2017','Jordan III-IX',1279],
    ['2017','Jordan X+',24321],
    ['2017','Other',1452],
    ['2017','React',1727],
    ['2017','Zoom',1752],
    ['2018','Air Foamposite',4475],
    ['2018','Air Force',13335],
    ['2018','Air Max',31419],
    ['2018','Air Presto',19089],
    ['2018','Baller',7426],
    ['2018','Blazer',3569],
    ['2018','Hype',3455],
    ['2018','Jordan I',169020],
    ['2018','Jordan III-IX',68177],
    ['2018','Jordan X+',30791],
    ['2018','React',9337],
    ['2018','SB',2316],
    ['2018','Zoom',4866],
    ['Blazer','Very Profitable',1791],
    ['Zoom','Very Profitable',1752],
    ['Blazer','Very Profitable',3569],
    ['Air Max','Very Profitable',1977],
    ['React','Very Profitable',1727],
    ['Jordan I','Very Profitable',2964],
    ['Air Presto','Very Profitable',19089],
    ['Baller','Very Profitable',1340],
    ['Jordan I','Profitable',169020],
    ['Air Max','Profitable',31419],
    ['Hype','Profitable',3455],
    ['Jordan III-IX','Profitable',2517],
    ['SB','Profitable',2316],
    ['React','Profitable',9337],
    ['Jordan I','Profitable',11205],
    ['Air Force','Profitable',13335],
    ['Jordan X+','Profitable',8667],
    ['Jordan III-IX','Profitable',68177],
    ['Other','Profitable',1452],
    ['Air Foamposite','Profitable',4475],
    ['Baller','Profitable',7426],
    ['Jordan X+','Profitable',30791],
    ['Zoom','Profitable',4866],
    ['Jordan X+','Profitable',3560],
    ['Jordan X+','Worthless',24321],
    ['Air Force','Worthless',1016],
    ['Air Force','Worthless',1186],
    ['Jordan III-IX','Worthless',1279]
    ]);

    // Set chart options
    var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
                  '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

    var options = {
      height: 400,
      sankey: {
        node: {
          colors: colors,
          nodePadding: 10,
          labelPadding: 2,
          label:  { fontName: 'Times-Roman',
                         fontSize: 12 }
        },
        iterations:0,
        interactivity: true,
        tooltip: {isHtml: true}, 
        link: {
          colorMode: 'gradient',
          colors: colors,
          color: { stroke: 'black', strokeWidth: .1 }
        }
      }
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.Sankey(document.getElementById('sankey_multiple'));
    chart.draw(data, options);
   }
</script>
</body>
</html>