svg {
    font: 18px sans-serif;
    color: whitesmoke
}


.bar {
    fill: rgb(231, 74, 134);
    border-color: rgb(141, 56, 56);
    clip-path: url(#clip);
}

.subBar {
    fill: rgb(84, 157, 230);
    opacity: 0.5;
}

/* Axis lines */
.axis path,
.axis line {
    fill: teal ;
    stroke: teal;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: red;
    fill: green;
    fill-opacity: .25;
    shape-rendering: crispEdges;
}

rect.mover {
    stroke: red;
    stroke-opacity: .1;
    fill: lightSteelBlue;
    fill-opacity: .5;
}

/* Page Background */
body {
    background-color: rgb(143, 190, 238)
    /*background-image: url("https://66.media.tumblr.com/67d33564e7e9fa5ba04cf305e86be80b/tumblr_ow15r1l4aM1w0fr7to1_1280.png");
}*/
    /*background-image: url("https://i.ytimg.com/vi/vnYNjFcMe4Q/maxresdefault.jpg");
    background-repeat: repeat;
    background-size: 1800px 1800px;*/

}
/* Box displayed when hovering over bar */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    margin-top: -20px;
    font: 15px sans-serif;
    background: turquoise;
    color: gainsboro;
    font-weight: bolder;
    pointer-events: none;
}

/* Drop Down Labels */
.axes_dropdown {
    color:rgb(14, 119, 114);
    font-weight: bolder;
    font-size: 1.5vw;
}

h1 {
    color: rgb(73, 221, 201);
    font-weight: bold;
    background: rgb(10, 7, 7);
    font-size: 3vw;
    text-align: center;
    font-family: "monospace", 'Courier New', Courier, monospace;
    /* font-family: "Allerta Stencil", Sans-serif; "Stencil Std", fantasy; */
}

/* Select csv file text */
#infobox {
    color:rgb(4, 49, 146);
    font-weight: bold;
    font-style: italic;
}